{
  "keymap": {
    "up": "up",
    "down": "down",
    "left": "left",
    "right": "right",
    "action": "a",
    "power": "z",
    "speed": "e",
    "shadow": "s",
    "select": "tab",
    "escape": "escape"
  }
}
